<h1><%= @genre.name %></h1>

    <ul>
        <li>Genre: <%= @genre.name %></li>
    </ul>

<div class="controls">
    <%= link_to 'Edit Genre', edit_genre_path(@genre) %>
    <%= link_to 'Delete Genre', @genre, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
