<h1>All artists</h1>
<div class="artist_index">
<% @artists.each do |artist| %>
    <div class="artist">
        <% if artist.image.present? %>
            <%= link_to image_tag(artist.image, :class => 'thumb'), artist %>
            <% end %>
        <h2><%= link_to artist.name, artist %></h2>
</div>
<% end %>
