<div id='artists'>
<h1>All users</h1>

<% @users.each do |user|%>
    <p> Email: <%= user.email %></p>
    <p>Admin: <%= user.admin %></p>
    <p>Premium: <%= user.premium %></p>
    <br>
<% end %>
</div>