
<h1>Premium User</h1>

<p>Get access to: </p>
<ul>
    <li>Creating new entries for Artists, Albums, Songs & Genres. </li>
    <li>Creating your own collection of childhood favourites. </li>
    <li>Commenting on Artist profiles, albums and songs. </li>
</ul>
<p>In addition to: </p>
<ul>
    <li>Browsing through the extensive music library. </li>
</ul>

<p>THIS FEATURE IS COMING SOON</p>