@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Source+Serif+Pro:wght@300&display=swap');

$colour1: rgb(83, 169, 198);
$colour2: rgb(215, 137, 58);

body {
    background-image: url("/assets/wallpaper1.jpg");
    background-size: cover;
    background-color: $colour2;
    font-family: 'Source Serif Pro', serif;
    color: $colour1;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        color: $colour2;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        text-decoration: none;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.artist_index {
    padding-left: 100px;
    padding-right: 100px;
    .artist {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.container {
    background-color: rgb(42, 41, 41);
    border-color: $colour1;
    border: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    font-family: 'Permanent Marker';
    color: $colour2;
    font-size: 72px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
}

label{
    display: block;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.thumb {
    height: 10em;
}

.feature {
    max-height: 20em;
}

.big_yoshi {
    max-height: 15em;
}

form {
    padding: 0 auto;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    a {
        color: $colour2;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }
}

.controls {
    font-weight: bold;
    font-size: 20px;
}

footer {
    padding-top: 10px;
    a {
        color: $colour2;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }
}

a:hover {
    text-decoration: underline;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0 auto;
}
.checkbox {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0 auto;

}

.nav {
    text-decoration: none;
}

#artist_info {
    width: 320px;
    height: 90px;
}

hr {
    width: 90%;
    border-style: dotted none none;
    color: $colour1;
}
.song_form {
    display: flex;
    padding-left: 35%;
    padding-right: 13%;
        .checkbox {
        flex-flow: row wrap;
        justify-content: flex-start;
        padding-top: 5px;
        padding-bottom: 5px;
}}

.song_albums {
    margin: 5px;
}

/* NAVIGATION DROPDOWN MENU */

.dropbtn {
    background-color:rgb(42, 41, 41);
    color: $colour2;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: rgb(124, 73, 22);
  }

// IMAGE HOVER
$img_size: 12em;

.image_container {
    position: relative;
    width: $img_size;
    height: $img_size;
    a {
        padding: 0;
    .image {
        opacity: 1;
        display: block;
        height: $img_size;
        width: $img_size;
        transition: .5s ease;
        backface-visibility: hidden;
      }
    }
  }
 
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
        .text {
        background-color: $colour2;
        font-size: 16px;
        padding: 8px 16px;
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
  
  .image_container:hover .image {
    opacity: 0.3;
  }
  
  .image_container:hover .middle {
    opacity: 1;
  }
